.header {
	padding-left: 25%;
	padding-right: 25%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #E9EAEA;
	padding-bottom: 10px;
	padding-top: 10px;
	height: 60px;
}
.rejestracja {
	background-color: #E9EAEA;
	height: 600px;
	padding-left: 20%;
	padding-right: 30%;

	padding-top: 20px;
}



.nav-pills li a:focus {
	background-color: white;
	border: 1px solid #4BB7A7;
	color: #4BB7A7;
}

.nav-pills  li  a {
	-webkit-border-radius: 0;
-moz-border-radius: 0;
border: 1px solid #45B2A2;
color: #45B2A2;
}

#kr {
	border-radius: 0px;
	margin-right: 7px;
	background-color: white;
	padding: 8px;
}
.nav-pills li a:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 1px solid #46C9B6;
	color: #46C9B6;
	background-color: #FFFFFF;

}
#rej {
	color: red;
	text-align: center;
	
}
#o {
	text-align: center;
	font-size: 40px;
	padding: 30px;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.form-group .btn {
	border: 1px solid #46C9B6;
}

#butt {
	background-color: #46C9B6;
	border-radius: 0px;
	color: #FFFFFF;
	font-size: 20px;
	width: 270px;
}

#fr {
	width: 300px;
}
#butt button:hover {
	color: black;
	background-color: black;
}

input[type="submit"]:hover {
    border: 5px solid #999;
    color: #000;
}


#butt input[type="submit"]:hover {
    border: 1px solid #999;
    color: #000;
}
.form-group p {
	color: red;
}